VERIFY_TOKEN="Token de verificación creado por el desarrollador"
WHATSAPP_TOKEN="Token de acceso generado por Meta para la API de WhatsApp Business"
WHATSAPP_PHONE_NUMBER_ID="ID de cuenta de WhatsApp Business"